### General

# MacOS
.DS_Store

# VS Code
.vscode

# dotenv
.env

# Logs
logs
*.log*
**/.log/*


### Node

node_modules/


### Terraform

**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
!**/remote_state/tfstate/terraform.tfstate

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
